.cardbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
    
}

.sectionUserList{
  margin-top: 10%;
}

.cardboxlist{ 
  margin-bottom: 2%
} 