.container {
  min-height: 100vh;
  margin-inline: 20px;
  margin-top: 40px;
}

.boxlogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.boxbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.boxform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 8px;
}

.inputsbetween {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.checkResiduos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px;
}

.outerBox {
  width: 100%;
  margin: 0;
}

.linkBoxButtons {
  display: flex;
}
