.cardbox {
    padding: 20px;
    background-color: #8ecae6;
    width: 40em;
    height: 14em;
    border-radius: 10px;
}

.titlebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    gap: 0.5em;
    color: #023047

}

.dados{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #023047

}

.titlename{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    color: #023047

}

